@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alegreya', serif;   
    font-size: 16px;     
}

.cartao {
    height: 906px;
    width: 642px;
    background-image: url('https://bl6pap004files.storage.live.com/y4mqQ2-cQlyLqh53wyXRX8AiK8zz73jPDWSLFP-1rXPPDurPizpbDwPllNRjMKeui7bFxQerVP09hXI6WW7iPHEDGQ61E1dseECJnYDEvp3Xsq7QKmZCIRelqvgKX5Ld-HblEnClMo6VKBVZ60qvh4tGIyw8QeyjfwghbgH4ZbYCPTvuWbFOk81gldkkBBubXXc3g8cVZmUach-jw1fgJVkvfxu75FLgQNdlkQAzKbiKK0?encodeFailures=1&width=557&height=787');
    background-size: cover;
    margin: 20px auto;
    border-radius: 1rem;;
}

.nome {    
    font-size: 2.45rem;
    line-height: 1;
    padding-top: 60px;
    margin-left: 65px;
    color: #5c382f;
    font-weight:700;    
}

.niver {    
    font-size: 2.2rem;
    margin-top: 678px;
    padding-bottom: px;
    margin-left: 65px;
    color: #5c382f;
    font-weight:700;
}

.button {
    text-align: center;
}

button {
    border: none;
    padding: 5px 10px;
    background-color: #d1aca2b9;
    color: #5c382f;
    font-size: 1.1rem;
    border-radius: .7rem;
}

footer {
    text-align: center;
    color: #5c382f;
    font-size: 1rem;  
    padding: 20px;
}

a {
    text-decoration: none;
    color: #5c382f;
}

a:hover {
    text-decoration: underline;
}

